@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
  font-family: 'Montserrat';
}

#root {
  background-color: black;
  overflow: hidden
}